body {
    background-color: beige;
    background-image: url("pic1.png");
    background-repeat: no-repeat;
    background-size: 1600px 700px;
}



.register {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    border: 2px solid black;
    margin: auto;
    padding: 50px;
    margin-top: 10%;
    margin-right: 200px;
    margin-left: 200px;
    height: 300px;
    background-color: azure;
    border-radius: 20px;
}